<div class="page-header">
  <h1>Favorite #<%= @favorite.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= User.find(@favorite.user_id).username %></dd>

  <dt>Dish</dt>
  <dd><%= Dish.find(@favorite.dish_id).name %></dd>

  <dt>Venue</dt>
  <dd><%= Venue.find(@favorite.venue_id).name %></dd>

  <dt>Notes</dt>
  <dd><%= @favorite.notes %></dd>

</dl>
