<div class="page-header">
  <h1>Dishes</h1>
</div>

<p><a href="/dishes/new_form" class="btn btn-primary">Add a New Dish</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.name %></td>
        <td><%= Cuisine.find(dish.cuisine_id).name %></td>
        <td>
          <a href="/dishes/<%= dish.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/dishes/<%= dish.id %>/edit_form" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_dish/<%= dish.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

